body
{
 background-color: rgb(255, 0, 0);
 text-align: center;
 align-items: center;
}
.logo_ing
{
    height: 50px;
    width: 50px;
    border-radius: 10px;

}
.login_div
{
    height: 300px;
    width: 800px;
    border-radius: 10px;
    background-color: white;
    text-align: center;
}
